@charset "utf-8";
/* pc */
/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0; }
h1, ul, li, p, dl, dt, dd {margin: 0; padding:0;}
img{ margin:0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; margin: 0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
/* table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] ,
i[class^="xi"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span ,
i[class^="xi"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.tablet,
.mobile-tablet,
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: '\00a0';} */

/* common */
body {font-family:'NotoSansCJKkr', 'NotoSansKR'; font-size: 14px; color: #292929; box-sizing: border-box;  position: relative; width: 100%; height: 100vh;}

#wrapper {min-width: 1024px; overflow: hidden; position: relative; margin: 0 auto; height: 100%;}

#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0,0,0,0.8); color : #ffffff; font-size: 16px; transition: top 0.3s; z-index: 100000;} 
#skip-nav:focus {top: 0;}